body {
  padding-top: 40px;
  padding-bottom: 40px;
  background: radial-gradient(
    circle at 1.3% 2.8%,
    rgb(239, 249, 249) 0%,
    rgb(182, 199, 226) 100.2%
  );
}

a {
    text-decoration: none;
}

ul {
  list-style: none;
}

.video-container {
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: relative;
}

.video-container video {
  min-width: 100%;
  min-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.video-container .caption {
  z-index: 1;
  position: relative;
}

.caption {
    padding: 0px 20px;
}

.header {
  text-align: center;
  font-size: 42px;
  font-weight: 900;
  padding-top: 20px;
}

.kyiv {
  color: rgb(165, 10, 165);
}

.ny {
  color: rgb(34, 34, 179);
}

.london {
  color: rgb(73, 181, 243);
}

.tokyo {
  color: rgb(4, 158, 4);
}

.sydney {
  color: rgb(255, 238, 0);
}

.ba {
  color: rgba(243, 131, 26, 0.973);
}

.lagos {
  color: rgb(238, 27, 27);
}

.container {
  font-family: "Martel", serif;
  border: 4px solid rgb(136, 159, 230);
  border-radius: 10px;
  padding: 0px;
  text-align: center;
}

#search-city {
  display: inline;
}

.citySearch {
  opacity: 0.5;
  font-size: 28px;
  text-align: center;
  border: 3px solid rgb(136, 159, 230);
  border-radius: 10px;
  padding: 15px 20px;
  background-color: white;
  margin-bottom: 10px;
}

#search {
  font-size: 28px;
  border: 3px solid rgb(34, 34, 179);
  border-radius: 10px;
  padding: 15px 20px;
  background-color: rgb(34, 34, 179);
  color: white;
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;
}

#search:hover {
  background-color: rgb(27, 27, 145);
  border: 3px solid rgb(27, 27, 145);
}

#degrees {
  display: inline;
  font-size: 28px;
  border: 3px solid rgb(73, 181, 243);
  border-radius: 10px;
  padding: 15px 25px;
  background-color: rgb(73, 181, 243);
  color: white;
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;
}

#degrees:hover {
  background-color: rgb(58, 145, 196);
  border: 3px solid rgb(58, 145, 196);
}

#current-location {
  display: inline;
  font-size: 28px;
  font-weight: 700;
  border: 3px solid rgb(254, 255, 255);
  border-radius: 10px;
  padding: 15px 15px;
  background-color: rgb(254, 255, 255);
  opacity: 60%;
  color: rgb(34, 34, 179);
  margin-bottom: 10px;
  transition: all 200ms ease-in-out;
}

#current-location:hover {
  background-color: rgba(255, 255, 255, 0.575);
  border: 3px solid rgba(136, 159, 230);
}

#actual-city {
  font-size: 58px;
  font-weight: 700;
  margin-top: 5px;
}

#actual-date-time {
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-left: 10px;
}

#weather-icon {
  width: 150px;
  margin-bottom: 20px;
  margin-top: 20px;
  background-color: rgb(251, 251, 252, 0.3);
}

#description {
font-size: 24px;
font-weight: 700; 
}

.actual-weather {
  margin-bottom: 5px;
  margin-top: 15px;
  font-size: 24px;
  font-weight: 600;
}

#actual-temperature {
  font-size: 40px;
  font-weight: 700;
}

#weather-forecast {
  margin-top: 40px;
  margin-bottom: 20px;
}

#weather-forecast ul {
  padding: 0px;
  text-align: center;
}

.container .text-center {
  margin-top: 20px;
  margin-bottom: 30px;
  border: none;
}

.card-title {
  font-weight: 900;
  font-size: 24px;
  margin-top: 10px;
}

.card {
  margin: 0 20px 30px 20px;
  border-color: transparent;
  background-color: rgb(251, 251, 252, 0.3);
}

.h-100 {
  background: transparent;
  }

.card-body {
  padding-left: 5px;
  padding-right: 5px;
}

.forecast-temperature {
    font-size: 28px;
    font-weight: 600;
}

.forecast-description {
  display: inline-block;
}

.forecast-description:first-letter {
  text-transform: uppercase;
}

.coder-link {
  font-family: "Martel", serif;
  font-size: 12px;
  text-align: center;
  margin-top: 10px;
}
